<h1>Account: {{ account.name }}</h1>

<div class="table-responsive mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="table text-center">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.id}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.description}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.amount}} </td>
		</ng-container>

		<ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let transaction" class="actions">
				<button (click)="edit(transaction)"  mat-raised-button color="accent">Edit</button>
				<button (click)="delete(transaction)" mat-raised-button color="warn">Delete</button>
			</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<button
	mat-raised-button
	[color]="page.active ? 'accent' : 'basic'"
	[disabled]="page.active ? true : false"
	*ngFor="let page of pages"
	(click)="getTransactions(page.index)">
	{{ page.index }}
</button>

<button mat-raised-button color="primary" (click)="create()">Create</button>
