.container{

  height: 100%;
}

.content{

  padding: 40px;
}

.btn-toggle-menu{

  padding: 10px;
  cursor: pointer;
}

.side-bar{

  min-width: 300px;
}

mat-progress-bar{

  position: absolute;
  top: 0;
  visibility: hidden;
}

.progress-bar-active{

  visibility: visible;
}

a {

  text-decoration-line: none;
  color: black;
}
