.container{

  height: 100%;
}

.content{

  padding: 40px;
}

.btn-toggle-menu{

  padding: 10px;
  cursor: pointer;
}

.side-bar{

  min-width: 300px;
}

mat-progress-bar{

  position: absolute;
}

a {

  text-decoration-line: none;
  color: black;
}
