<mat-drawer-container class="container">
  <mat-drawer class="side-bar" mode="push" [(opened)] = "sideBarOpened">
    <ng-material-multilevel-menu
      [configuration]='config'
      [items]='appitems'
      (selectedItem)="selectedItem($event)"
      (selectedLabel)="selectedLabel($event)">
    </ng-material-multilevel-menu>
  </mat-drawer>
  <mat-drawer-content>
    <mat-progress-bar [class.progress-bar-active]="showLoadBar" mode="indeterminate"></mat-progress-bar>
    <mat-toolbar fxLayout="row">
      <a [routerLink]="['/']" routerLinkActive="link-active" >My App</a>
      <div *ngIf="isLogin()" class="isLogin">
        <mat-icon class="btn-toggle-menu" aria-hidden="false" aria-label="menu" (click)="toggleSideBar()">menu</mat-icon>
      </div>
      <span fxFlex></span>
      <div *ngIf="isLogin()" class="isLogin">
        <a style="cursor: pointer;" (click)="logOut()">Logout</a>
      </div>
      <div *ngIf="!isLogin()">
        <a [routerLink]="['/login']" routerLinkActive="link-active">Login</a>
      </div>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
