<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>Edit account</mat-card-title>
	</mat-card-header>
	<form [formGroup]="newAccountForm" (submit)="save()">
		<mat-card-content fxLayout="column">
			<mat-form-field fxFlex class="form-field">
				<mat-label>Name</mat-label>
				<input matInput formControlName="name" placeholder="Name">
				<mat-error *ngIf="newAccountForm.controls.name.hasError('required')">
					Name is <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<div fxFlex class="form-field">
				<label for="amount">Amount</label>
				<app-input-mask id="amount" [value]="data.account.amount" (changeVal)="changeAmount($event)"></app-input-mask>
				<mat-error *ngIf="amount.errors.required">
					Amount is <strong>required</strong>
				</mat-error>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button type="submit" mat-raised-button color="primary">Save</button>
			<button mat-raised-button color="basic" (click)="close()">Close</button>
		</mat-card-actions>
	</form>
</mat-card>
