<form [formGroup]="form" (submit)="save()" fxLayout="column">
  <mat-form-field fxFlex class="form-field">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" placeholder="Description">
    <mat-error *ngIf="form.controls.description.hasError('required')">
      Description is <strong>required</strong>
    </mat-error>
	</mat-form-field>
	<div fxFlex class="form-field">
		<label for="amount">Amount</label>
		<app-input-mask id="amount" [value]="data.transaction.amount" (changeVal)="changeAmount($event)"></app-input-mask>
		<mat-error *ngIf="amount.errors.required">
			Amount is <strong>required</strong>
		</mat-error>
	</div>
	<div class="buttons">
		<button type="submit" mat-raised-button color="primary">Save</button>
		<button mat-raised-button color="basic" (click)="close()">Close</button>
	</div>
</form>
